<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if @action == 'created' || @action == 'updated' %>
        <h1>The post has been <%= @action %> successfully</h1>
        <% else %>
        <h1 class="text-center"><%= @post.title %></h1>
        <p class="text-justify"><%= markdown(@post.content) %></p>

        <div>
          <% if user_signed_in?%>
            <%= form_for @comment do |comment| %>

              <% if @comment.errors.any? %>
                <div class="error_explanation">
                  <h4><%= pluralize(@comment.errors.count, "error")%> won´t let this comment to being saved:</h4>
                  
                  <ul>
                    <% @comment.errors.full_messages.each do |message| %>
                      <li class="danger"><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %> 
              
              <div class="row">
                <div class="col-md-12">
                  <div class= "form-group">
                    <%= comment.label :content %>
                    <%= comment.text_area :content, class: 'form-control' %>
                  </div>
                </div>
                <%= comment.hidden_field :post_id, :value => @post.id%>

                <div class="actions">
                  <%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Cancel'), comments_path, class: 'btn btn-primary btn-large' %>
                  <%= button_tag(type: "submit", class: "btn btn-success btn-large", name: "Save Comment", value: "Save comment") do %>
                    <span class="glyphicon glyphicon-ok"></span> Save comment
                  <% end %> 
                </div>
              </div>
            <% end %>
          <% end %>
          
          <% @comments.each do |comment| %>
            <p class="text-justify"><%= markdown(truncate(comment.content, :length => 250)) %></p>
            <p><%= comment.user.email %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "All Posts",posts_path %>
    </div>
  </div>
</div>
